#yield-wrapper {
  width: 100%;
}

.wrapper-900 {
  max-width: 900px;
  margin: 0 auto;
}

.wrapper-full {
  width: 100%;
}

footer {
  height: 50px;
  background-color: #000;

  p {
    font-size: 1.6em;
    text-align: center;
    line-height: 50px;
    color: #fff;
  }
}

@media screen and (max-width: 900px) {
  footer p {
    font-size: 1.2em;
  }
}
